body {
    font-family: "Roboto";
}

.gray {
    background-color: rgb(199, 199, 199);
}

.yellow {
    background-color: rgb(235, 235, 163);
    color: rgb(116, 116, 2);
}

.green {
    background-color: rgb(144, 214, 144);
    color: rgb(1, 92, 1);
}